* {
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(#fa4454, rgb(11, 11, 35));
  height: 100vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  margin: 0;
}

h1 {
  color: white;
  font-size: 4rem;
}
.btn {
  background-color: white;
  border-radius: 5px;
  border: none;
  color: #2d2d2d;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  font-family: inherit;
}
.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}
